@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.2rem;
  }

  @media (min-width: 1440px) {
    :root {
      --fs-400: 1rem;
      --fs-500: 1.1819rem;
      --fs-600: 1.45rem;
    }
  }

  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    @apply flex flex-col min-h-[100vh] items-center justify-center bg-gray-300 tracking-tight relative;
  }
}
